@use './scss/variables' as *;

.btn-wrapper {
  display: flex;
  justify-content: center;
}

.Content {
  flex-grow: 1;
  padding: 10px;
  margin-top: 60px;
}

.Footer {
  width: 100%;
  background-color: $color-4;
  padding: 10px 0;
  text-align: center;
}

.orchid-list {
  margin-top: 30px;
  margin-bottom: 30px;
}

//dark mode
body {
  transition: background-color 0.3s ease;
}