@use './variables' as *;
.btn-main-style {

	font-weight: bold;
	background: $color-3 !important;
	color: white !important;
	border-radius: 4px !important;
	border: 1.5px solid #050505 !important;
	box-shadow: 0 4px 0 0 #050505 !important;
	-webkit-transition: box-shadow 200ms ease, background-color 500ms cubic-bezier(0.6, 0.6, 0, 1) !important;
	transition: box-shadow 200ms ease, background-color 500ms cubic-bezier(0.6, 0.6, 0, 1) !important;

	&.submit {
		padding: 12px 36px;
	}

	&:hover {
		background-color: $color-2 !important;
		box-shadow: 0 2px 0 0 #050505 !important;
		color: #050505 !important;
	}

	&.edit {
		background: #9362f5 !important;
		box-shadow: none !important;
		border: none !important;

		&:hover {
			background-color: #654a90 !important;
		}
	}
}
